# Programming Assignment 2
<p>Author: Zane Brown<br> Version:1<br> CS-150-01<p>

In [3]:
for x in range(0,101):
    if x>3 and x%3==0:
        print(x," *")
    else:
        print(x)

0
1
2
3
4
5
6  *
7
8
9  *
10
11
12  *
13
14
15  *
16
17
18  *
19
20
21  *
22
23
24  *
25
26
27  *
28
29
30  *
31
32
33  *
34
35
36  *
37
38
39  *
40
41
42  *
43
44
45  *
46
47
48  *
49
50
51  *
52
53
54  *
55
56
57  *
58
59
60  *
61
62
63  *
64
65
66  *
67
68
69  *
70
71
72  *
73
74
75  *
76
77
78  *
79
80
81  *
82
83
84  *
85
86
87  *
88
89
90  *
91
92
93  *
94
95
96  *
97
98
99  *
100

In [55]:
age=2
while age!=0:
    age=int(input("What is the subject's age? "))
    if 0<age<18:
        print("Minor")  
    elif 18<=age<=64:
        print("Adult")
    elif age==0:
        break
    else:
        print("Senior Citizen")

What is the subject's age? 9
Minor
What is the subject's age? 69
Senior Citizen
What is the subject's age? 56
Adult
What is the subject's age? 0

In [40]:
for x in [65, 78, 34, 56, 12, 9, 43, 67]:
    if x<18:
        print(x, " : Minor")
    elif 18<=x<=64:
        print(x, " : Adult")
    else:
        print(x, " : Senior Citizen")

65  : Senior Citizen
78  : Senior Citizen
34  : Adult
56  : Adult
12  : Minor
9  : Minor
43  : Adult
67  : Senior Citizen